.page-top {
    position: fixed;
    right: 20px;
    bottom: 40px;
    display: inline-block;
    background: $background;
    border: 1px solid $main-color;
    color: $main-color;
    border-radius: 50%;
    transition: background-color $transition, color $transition;
    position: relative;
    width: 52px;
    height: 52px;
    z-index: 11;
    position: fixed;
    &:hover {
        background: $main-color;
        color: $background;
        .page-top__icon {
            path {
                stroke: $background;
            }
        }
    }
    @include mq('md') {
        right: 10px;
        bottom: 100px;
    }
}

.page-top__icon {
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}