.contact {}

.contact__inner {
    max-width: 728px + strip-unit($padding-pc) * 2;
}

.contact__text {}

.contact__content {
    margin-top: 154px;
    @include mq('md') {
        margin-top: 96px;
    }
}

.contact__title {
    text-align: center;
}

.contact__form {
    margin-top: 66px;
}