.recommend {}

.recommend__title {
    text-align: center;
}

.recommend__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 52px auto 0;
    max-width: 966px;
    width: 100%;
    @include mq('md') {
        margin-top: 36px;
        display: block;
        padding-right: 27px;
        padding-left: 27px;
    }
}

.recommend__item {
    width: calc((100% - 60px * 2) / 3);
    &:not(:last-child) {
        margin-right: 60px;
    }
    @include mq('md') {
        width: 100%;
        &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 55px;
        }
    }
}